{:paths ["bb"]
 :tasks
 {:requires ([babashka.fs :as fs]
             [clojure.edn :as edn]
             [tasks :as tasks])
  :init
  (do
    (defn shelll [& args]
      (println args)
      (apply shell args)))

  build (shelll "docsify build docs")
  watch (shelll "echo 'TODO impl watching'")
  serve (shelll "docsify serve docs")}}
