{:paths ["bb"]
 :deps  {tick/tick           {:mvn/version "1.0"}
         russmatney/org-crud {:git/url "https://github.com/russmatney/org-crud"
                              :git/sha "b7ac5818b57378427b7bbc8ad865acd398edabe7"}
         }
 :tasks
 {:requires ([babashka.fs :as fs]
             [clojure.edn :as edn]
             [blog.tasks :as tasks])
  :init
  (do
    (defn log [& args]
      (apply println args))

    (defn shelll [& args]
      (apply println args)
      (apply shell args)))

  build (do
          (log "regenerating all pages")
          (tasks/regen-all-pages))

  watch
  (do
    ;; hmmmm need to fork to run all watchers here
    ;; how do i usually do this?

    (when true #_osx?
          (println "you might want to 'bb --nrepl 1667'"))
    (shelll "docsify serve docs")
    )

  serve
  (shelll "docsify serve docs")
  }}
