---
layout: default
title: Russell Matney
---

<div id="home">
  <h1>Latest Posts</h1> <!-- / <h1>Most Popular</h1> -->

  <div class="five-latest">
    <div class="row-fluid">
      <ul class="posts span4">
        <h3>Techsposure <a href="/techsposure.html">(all posts)</a></h3>
        {% for post in site.categories.techsposure limit:5 %}
          <li><span>{{ post.date | date: "%h '%y" }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
      </ul>

      <ul class="posts span4">
        <h3>Get It Write <a href="/getitwrite.html">(all posts)</a></h3>
        {% for post in site.categories.getitwrite limit:5 %}
          <li><span>{{ post.date | date: "%h '%y" }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
        <li></li>
      </ul>

      <ul class="posts span4">
        <h3>100-word Stories <a href="/100-word-stories.html"> (all stories)</a></h3>
        {% for post in site.categories.100-worders limit:5 %}
          <li><span>{{ post.date | date: "%h '%y" }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
      </ul>

      <ul class="posts span4">
        <h3>Demos <a href="/demos.html"> (all demos)</a></h3>
        {% for post in site.categories.demos limit:5 %}
          <li><span>{{ post.date | date: "%h '%y" }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>

</div>