<div ng-show="blocked">
  <input type="password" ng-model="password">
</div>


<div ng-hide="blocked">

<div class="row-fluid">
  <div class="span12">
    <div class="hero-unit">
      <h1>Splitzky!</h1>
      <h3>The best way to spend other people's money</h3>
    </div>
  </div>
</div>

<br>

<div class="row-fluid">
  <div class="span3">
    <div class="well row-fluid" ng-repeat="customer in customers">
      
      <input class="span12" type="text" ng-model="customer.name">
      {{customer.ccNum}}
      <input class="span12" type="number" ng-model="customer.price">
    
    </div>
    <button ng-click="addCustomer()">Add Customer</button>
  </div>

  <div class="span7 offset1">
    <div class="well row-fluid">
      Group: <span ng-repeat="name in total.names"><span ng-show="$last"> and </span>{{name}}<span ng-show="!$last">, </span></span>
      <br>
      Group Credit Card Num: {{total.ccNum}}
      <br>
      Total: {{total.price | currency}}
    </div>
  </div>

</div>

</div>