<div ng-show="blocked">
  <input type="password" ng-model="password">
</div>


<div ng-hide="blocked">

<div class="row-fluid">
  <div class="span12">
    <div class="hero-unit">
      <h1>Splitzky!</h1>
      <h3>The best way to spend other people's money</h3>
    </div>
  </div>
</div>

<br>

<div class="row-fluid">
  <div class="span4">
    <div class="well row-fluid" ng-repeat="customer in customers">
      
      <input class="span6" type="text" ng-model="customer.name">
      <input class="span6" type="number" ng-model="customer.price">

      {{customer.ccNum}}

      <span class="span12"><strong>{{customer.price | currency}}</strong> at <strong>{{customer.percentage}}%</strong> of the total</span>

      <button class="btn span12" ng-click="removeCustomer()">Remove Customer</button>
    
    </div>
    <button class="btn" ng-click="addCustomer()">Add Customer</button>
  </div>

  <div class="span6 offset1">
    <div class="well row-fluid">
      <h3>
        <span ng-repeat="name in total.names">{{name}}<span ng-show="!$last"> + </span></span>
      </h3>
      <h4 class="pull-right">Group Credit Card Num:<br>{{total.ccNum}}</h4>
      <h4>Total: {{total.price | currency}}</h4>
    </div>
  </div>

</div>

</div>