---
// Custom footer component matching current Docsify footer
// © 2012-2025 Russell Matney
---

<footer class="footer-content">
  <span>&copy; 2012-2025 Russell Matney</span>
</footer>

<style>
  .footer-content {
    text-align: right;
    margin-top: 2rem;
  }
</style>
