<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- Google Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Economica:700|Squada+One|Pathway+Gothic+One|Merriweather' rel='stylesheet' type='text/css'>

        <!-- Mail Chimp -->
        <link href="http://cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
        <style type="text/css">
          #mc_embed_signup{
            background:#fff;
            font:14px Helvetica,Arial,sans-serif;
            width:100px;
          }
        </style>

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <div class="container">
          <div class="site">
            <div class="header">
              <h1 class="title"><a href="/">{{ site.name }}</a></h1>
              {% if page.categories %}
              <a class="extra" href="/{{page.categories}}.html">{{page.subhead}}</a>
              {% else %}
              <a class="extra" href="/">{{site.subhead}}</a>
              {% endif %}
            </div>

                {{ content }}

            <div class="footer">
              <div class="contact">
                <p>
                  Russell Matney<br />
                  Engineer @ <a href="http://www.moveline.com">Moveline</a>
                </p>
              </div>
              <div class="contact">
                <p>
                  <a href="http://github.com/russmatney/">github.com/russmatney</a><br />
                  <a href="http://twitter.com/russmatney/">twitter.com/russmatney</a><br />
                </p>
              </div>
              <div class="contact">
                <!-- Begin MailChimp Signup Form -->
                <div id="mc_embed_signup">
                  <form action="http://russmatney.us7.list-manage1.com/subscribe/post?u=cbd910b262793d21e3e47be19&amp;id=649439ee83" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <label for="mce-EMAIL"></label>
                    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="want email updates?" required>
                    <div class="clear">
                      <input type="submit" value="Subscribe!" name="subscribe" id="mc-embedded-subscribe" class="button">
                    </div>
                  </form>
                </div>

                <!--End mc_embed_signup-->
              </div>
            </div>
          </div>
        </div> <!-- /container -->

    </body>
</html>
